body {
    font-family: "Poppins' Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1f1f1f, #474747);
    color: #f5f5f5;
    line-height: 1.8;
}
h1 {
    text-align: center; 
    font-size: 2.5em; 
    margin: 20px auto;
}
img, iframe {
    margin: 0;
    padding: 0;
    display: block; /* Forces block behavior for consistent alignment */
    max-width: 100%; /* Ensures responsiveness */
}


p {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.6;
    font-size: 1.2em;
}



nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #444, #222); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    padding: 10px 0; 
    border-bottom: 2px solid #555; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    background: rgba(255,255,255,0.1);
    transition: transform 0.3s ease, background 0.3s ease;
}

nav ul li a:hover {
    background: rgba(255,255,255, 0.3);
    transform: scale(1.1)
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    color: white;
    font-size: 16px
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
}
form button {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size:16px
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background-color: #218838;
}
