body {
    font-family: "Segoe UI' Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
    text-align: center;
    color: #333;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #111;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffa9a9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1)
}

form button {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3 ease;
}

form button:hover {
    background-color: #218838;
}
